<a href="https://colab.research.google.com/github/mdabushad/British-Airways-Web-Scrapping-and-Predicting-Customer-Buying-Behaviour.ipynb/blob/main/British_Airways_Predicting_Customer_Buying_Behaviour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Web scraping British Airways Reviews

## Import Important Libraries

In [19]:
#Install Beautiful Soup
!pip install beautifulSoup4

#Import the required modules
import requests
from bs4 import BeautifulSoup
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulSoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulSoup4) (2.4.1)

In [18]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 36
page_size = 100

reviews = []

for i in range(1, pages+1):
    print(f"Scraping page {i}")

    # Create URL to collect data from each page
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Send a GET request to the URL
    response = requests.get(url)

    # Create a Beautiful Soup object
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the appropriate HTML elements containing the reviews
    review_elements = soup.find_all('div', class_='text_content')

    # Extract the text content of the reviews and append them to the 'reviews' list
    for element in review_elements:
        reviews.append(element.get_text())

    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews
Scraping page 11
   ---> 1100 total reviews
Scraping page 12
   ---> 1200 total reviews
Scraping page 13
   ---> 1300 total reviews
Scraping page 14
   ---> 1400 total reviews
Scraping page 15
   ---> 1500 total reviews
Scraping page 16
   ---> 1600 total reviews
Scraping page 17
   ---> 1700 total reviews
Scraping page 18
   ---> 1800 total reviews
Scraping page 19
   ---> 1900 total reviews
Scraping page 20
   ---> 2000 total reviews
Scraping page 21
   ---> 2100 total reviews
Scraping page 22
   ---> 2200 total reviews
Scraping page 23
   ---> 2300 total reviews
Scraping page 24
   ---> 2400 total reviews
Scraping page 25
   ---> 2500 total reviews
Scraping page 26
   ---> 2600 total reviews
Scraping page 27
   ---> 2700 total reviews
Scraping page 28
   ---> 2800 total reviews
Scraping page 29
   ---> 2900 total reviews
Scraping page 30
   ---> 3000 total reviews
Scraping page 31
   ---> 3100 total reviews
Scraping page 32
   ---> 3200 total reviews
Scraping page 33
   ---> 3300 total reviews
Scraping page 34
   ---> 3400 total reviews
Scraping page 35
   ---> 3500 total reviews
Scraping page 36
   ---> 3558 total reviews

In [61]:
# Create an empty DataFrame with the desired data type
df = pd.DataFrame(dtype=str)

# Add the 'reviews' list as a column named 'reviews' to the DataFrame
df["reviews"] = reviews

# Display the first few rows of the DataFrame
df.tail()

                                                reviews
3553  Flew LHR - VIE return operated by bmi but BA a...
3554  LHR to HAM. Purser addresses all club passenge...
3555  My son who had worked for British Airways urge...
3556  London City-New York JFK via Shannon on A318 b...
3557  SIN-LHR BA12 B747-436 First Class. Old aircraf...

In [64]:
# Split the reviews based on "|", get the second part, and remove leading/trailing whitespaces
df["reviews"] = df["reviews"].apply(lambda x: x.split("|")[1].strip() if "|" in x else x.strip())

# Display the modified DataFrame
df.head()

                                             reviews
0  A serious medical problem appeared while I was...
1  I haven't flown British Airways before and wil...
2  My itinerary was supposed to be Las Vegas-Chic...
3  Busy day at LHR and flight full. Lounge crowde...
4  Worst seats I have ever encountered in economy...

#Sentimental Analysis

##[Rule-based approach](https://www.analyticsvidhya.com/blog/2021/06/rule-based-sentiment-analysis-in-python/)

###This is a practical approach to analyzing text without training or using machine learning models. The result of this approach is a set of rules based on which the text is labeled as positive/negative/neutral. These rules are also known as lexicons. Hence, the Rule-based approach is called Lexicon based approach.

###Widely used lexicon-based approaches are TextBlob, VADER, SentiWordNet.

##Data Preprocessing steps:
1. Cleaning the text
2. Tokenization
3. Enrichment-POS tagging
4. Stopwords removal
5. Obtaining the stem words

In [72]:
from nltk.corpus import stopwords
set(stopwords.words('english'))

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [71]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True